body{
    background-color:wheat;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyRCRxSgx643RyfSUJZAljohfF6RNBoKoWHkMTE9xL&s);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover ;
}

#todoForm .totoItemGoup{
    flex-grow: 1;
}

#todoForm  .totoItemGoup input{
    display: block;
    width: 100%;
    padding: 10px 20px;
}
li.list-group-item.font-weight-bold.d-flex.juestify-content-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#todolist .edit{
    color: green;
}
#todolist .delete{
    color: red;
}
